@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.columns {
  /* starts number of columns then size of columns */
  columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: white;
  padding: 1rem;
  /* makes the header not to be split into different columns */
  break-inside: avoid;
}

/* more specific */
.columns .quote {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}

.nowrap {
  /* Makes text move together(does not break lines) */
  white-space: nowrap;
}
