* {
  margin: 0;
  padding: 0;
  /* the border-box adds the border in the padding in it's addition together with content */
  box-sizing: border-box;
}

.container {
  border: 10px double red;
  font-size: 1.5rem;
  /* a margin is the space around an element's border, while padding is the space between an element's border and the element's content. Put another way, the margin property controls the space outside an element, and the padding property controls the space inside an element */
  /* in margin and padding you can follow format(top, right, bottom,left) in stead of writing individually */
  margin: 1.5em;
  /*   margin-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
  padding: 1.5em;
  /* outlie covers the border and the outline-offset enables one to make spacw between border and outline */
  outline: 5px solid blueviolet;
  /* usinf negative makes it go inside the box */
  outline-offset: 5px;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
}
